@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Large.ttf') format('truetype'); /* Not a common weight */
  font-weight: 900;
  font-style: normal;
}

:root {
  --text-primary: #07122b;
  /* --color-primary: #ff5757; */
  --black-primary: #0b3558;
  --black-secondary: rgb(71, 103, 136);
  --blue-primary: #0099f6;
  --primary-font: 'Gilroy', sans-serif;
  --primary-bg: #f8f9fb;
  --colors-pink: #ef457e;
  --background-gray: #f8f8f8;
  --colors-yellow: #ffd44d;
  --background-blue: #f2faff;
  --outline-gray: white;
  --text-secondary: #6a7180;
  --others-blue: #0a32c3;
  --text-white: white;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Gilroy', sans-serif !important;
}

body,
section {
  background: var(--primary-bg);
}

p,
a {
  font-family: 'Gilroy', sans-serif !important;
}

li {
  color: var(--black-primary);
  font-family: 'Gilroy', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--black-primary);
  font-weight: 700;
}

/* navbar dropdown ⬇️*/
.DropItemHover,
.DropItemHover img,
.DropItemHover h5 {
  transition: 0.3s ease-in-out;
}

.DropItemHover:hover,
.DropItemActive {
  background-color: var(--background-blue);
}
.DropItemHover:hover img,
.DropItemActive img {
  background-color: white;
}

.DropItemHover:hover h5,
.DropItemActive h5 {
  color: var(--color-primary);
}

/* navbar ⬆️ */

/* hero ⬇️ */
.playWave::after {
  border: 2px solid #0099f6;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: 0 0;
  z-index: 1;
  animation: 1s ease-out 0.2s infinite HeaderPlayButtonAnim;
  border-radius: 50%;
}
.playWave::before {
  border: 2px solid #0099f6;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: 0 0;
  z-index: 1;
  animation: 1.5s ease-out 0.2s infinite HeaderPlayButtonAnim;
  border-radius: 50%;
}

@keyframes HeaderPlayButtonAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

/* hero ⬆️ */

/* hero img animation ⬇️*/
.cardOne {
  transition: 4s ease-in-out;
  animation-delay: 4s;
  animation: 4s infinite shuffle1;
}
.cardTwo {
  transition: 4s ease-in-out;
  animation-delay: 4s;
  animation: 4s infinite shuffle2;
}

@keyframes shuffle1 {
  0% {
    transform: scale(1.1);
    /* opacity: 0.35; */
    z-index: -10;
  }
  50% {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
  }
  100% {
    transform: scale(1.1);
    /* opacity: 0.35; */
    z-index: -10;
  }
}

@keyframes shuffle2 {
  0% {
    transform: scale(1);
    /* opacity: 1; */
    z-index: 10;
  }
  50% {
    transform: scale(1.1);
    /* opacity: 0.35; */
    z-index: -10;
  }
  100% {
    transform: scale(1);
    /* opacity: 0.35; */
    z-index: 10;
  }
}

/* .rotateAnimation {
  transition: 0.3s ease-in-out;
  animation: infinite 4s rotation;
}

@keyframes rotation {
  from {
    transform: rotateX('0 deg');
  }
  to {
    transform: rotate('360 deg');
  }
} */

/* hero img animation ⬆️*/

/* carousel ⬇️*/
.boxShadow {
  position: relative;
}
@media (min-width: 768px) {
  .boxShadow::after {
    content: '';
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 12;
    /* box-shadow: inset 12px 0 15px -4px rgba(128, 128, 128, 0.438),
      inset -12px 0 8px -4px rgba(128, 128, 128, 0.438); */
    /* 10px 10px 45px 5px rgba(0, 0, 0, 0.1); */
  }
}

.slider {
  white-space: nowrap;
}

.slide span,
.slide2 span {
  margin: 0 20px;
}

.slide {
  display: inline-block;
  /* transform: translateX(120%); */
  animation: slideShow 20s infinite linear;
}

/* .slide2 {
  display: inline-block;
  transform: translateX(0%);
  animation: slideShow2 15s infinite linear;
} */

@keyframes slideShow {
  0% {
    transform: translateX(114%); /* Start from the original position */
  }
  100% {
    transform: translateX(-272%); /* Move the content off-screen */
  }
}

@keyframes slideShow2 {
  0% {
    transform: translateX(-124%); /* Start from the original position */
  }
  100% {
    transform: translateX(114%); /* Move the content off-screen */
  }
}

/* carousel ⬆️*/

/* swiper ⬇️ */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

/* swiper ⬆️*/

/* autoChangeContent ⬇️ */
.autoChangeContentClass {
  transition: 0.7s ease-in-out;
}

.autoChangeContentClass.autoChangeActive {
  @apply h-auto;
}

.autoChangeContentClass.autoChangeHidden {
  @apply h-20;
}

/* 
.autoChangeContentClass.Active {
  @apply h-auto;
}

.AutoChangeContent.Hidden {
  @apply h-20;
} */
/* autoChangeContent ⬆️ */
