@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --text-primary: #07122b;
  /* --color-primary: #ff5757; */
  --color-primary: #0099f6;
  --colors-pink: #ef457e;
  --background-gray: #f8f8f8;
  --colors-yellow: #ffd44d;
  --background-blue: #f2faff;
  --outline-gray: white;
  --text-secondary: #6a7180;
  --others-blue: #0a32c3;
  --text-white: white;
}

* {
  font-family: 'Mulish', sans-serif !important;
}

p,
a {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 200;
}

/* navbar dropdown ⬇️*/
.DropItemHover,
.DropItemHover img,
.DropItemHover h5 {
  transition: 0.3s ease-in-out;
}

.DropItemHover:hover {
  background-color: var(--background-blue);
}
.DropItemHover:hover img {
  background-color: white;
}

.DropItemHover:hover h5 {
  color: var(--color-primary);
}

/* navbar ⬆️ */

/* hero ⬇️ */
.playWave::after {
  border: 2px solid #0099f6;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: 0 0;
  z-index: 1;
  animation: 1s ease-out 0.2s infinite HeaderPlayButtonAnim;
  border-radius: 50%;
}
.playWave::before {
  border: 2px solid #0099f6;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: 0 0;
  z-index: 1;
  animation: 1.5s ease-out 0.2s infinite HeaderPlayButtonAnim;
  border-radius: 50%;
}

@keyframes HeaderPlayButtonAnim {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(1.4);
    opacity: 0;
  }
}

/* hero ⬆️ */

/* carousel ⬇️*/
.boxShadow {
  position: relative;
}
@media (min-width: 768px) {
  .boxShadow::after {
    content: '';
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 12;
    box-shadow: inset 12px 0 15px -4px rgba(128, 128, 128, 0.438),
      inset -12px 0 8px -4px rgba(128, 128, 128, 0.438);
    /* 10px 10px 45px 5px rgba(0, 0, 0, 0.1); */
  }
}

.slider {
  white-space: nowrap;
}

.slide span,
.slide2 span {
  margin: 0 20px;
}

.slide {
  display: inline-block;
  /* transform: translateX(120%); */
  animation: slideShow 15s infinite linear;
}

.slide2 {
  display: inline-block;
  /* transform: translateX(0%); */
  animation: slideShow2 15s infinite linear;
}

@keyframes slideShow {
  0% {
    transform: translateX(114%); /* Start from the original position */
  }
  100% {
    transform: translateX(-272%); /* Move the content off-screen */
  }
}

@keyframes slideShow2 {
  0% {
    transform: translateX(-124%); /* Start from the original position */
  }
  100% {
    transform: translateX(114%); /* Move the content off-screen */
  }
}

/* carousel ⬆️*/
