@import 'tailwindcss';

:root {
  --text-primary: #07122b;
  /* --color-primary: #ff5757; */
  --color-primary: #0099f6;
  --colors-pink: #ef457e;
  --background-gray: #f8f8f8;
  --colors-yellow: #ffd44d;
  --background-blue: #f2faff;
  --outline-gray: white;
  --text-secondary: #6a7180;
  --others-blue: #0a32c3;
  --text-white: white;
}

/* navbar dropdown*/
.DropItemHover,
.DropItemHover img,
.DropItemHover h5 {
  transition: 0.3s ease-in-out;
}

.DropItemHover:hover {
  background-color: var(--background-blue);
}
.DropItemHover:hover img {
  background-color: white;
}

.DropItemHover:hover h5 {
  color: var(--color-primary);
}
